/*

  RESPONSE BREAKPOINT SIZES FOR MEDIA QUERIES

  largest: 75em      1200px
  large: 68.75em     1100px
  medium: 56.25em    900px
  small: 37.5em      600px
  smallest: 31.25em  500px

*/

:root {
  --color-primary: rgba(96,171,248,1);

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(240, 240, 240, 1);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.heading-1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
