/******************************
POST FORM
******************************/
.post-form-container,
.post-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem;
  transition: all .2s;
}

.post-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  transition: all .2s;
}

.post-form-textarea {
  min-height: 10rem;
}


.post-form-input,
.post-form-textarea,
.post-form-btn-submit {
  border: none;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.post-form-input {
  border-bottom: 1px solid #eee;
}

.post-form-btn-submit {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: block;
  /* align-self: center; */
  background-color: var(--color-primary);
}

.post-form-err {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: rgb(226, 73, 73);
}

/******************************
POST LIST
******************************/
.post-list-container {
  margin-top: 1rem;
}

/******************************
POST ITEM
******************************/
.post-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  width: 50rem;
  min-height: 10rem;
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0 1rem 2rem rgba(0,0,0, .15);
  transition: all .2s;
}

.post-item:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 1rem 4rem rgba(0,0,0, .11);
}

.post-item:active {
  transform: translateY(0);
  box-shadow: 0 0rem 1rem rgba(0,0,0, .11);
}

.post-item-title {
  font-weight: 100;
  font-size: 2.5rem;
}

.post-item-content {
  font-size: 1.5rem;
}
