
.Landing-container {
  position: relative;
}

.Landing-img {
  filter: brightness(60%);
}

.Landing-text {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Landing-heading {
  text-align: center;
  font-size: 4rem;
}

.Landing-heading-sub {
  padding: 0 1.5rem;
}

.Landing-img {
  width: 100%;
}

/******************************
MEDIA QUERIES
*******************************/
@media only screen and (max-width: 37.5em) {
  .Landing-heading {
    text-align: center;
    font-size: 3rem;
  }

  .Landing-heading-sub {
    padding: 0;
    width: 20rem;
  }
}

@media only screen and (min-width: 64em) {
  .Landing-container {
    flex-direction: row;
  }

  .Landing-text {
    margin: 1em;
  }
}
