.modal-container {
  position: relative;
}

.modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 95%;
    border-radius: 3px;
    padding: 1.6rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}


.modal-show {

  opacity: 1
}

.modal-hide {

  opacity: 0
}

@media (min-width: 60em) {
    .modal {
        width: 50rem;

    }
}
